---
import metadata from '@/data/metadata'
import '@/styles/reset.css'
import '@/styles/global.css'
import '@/styles/scrollbar.css'
import GoogleAnalytics from './GoogleAnalytics.astro'

const pageTitle = Astro.props.title ?? metadata.title
const pageDescription = Astro.props.description ?? metadata.description

const ogImage = metadata['og-image'];
---

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content={pageDescription} />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

  <!-- preconnect to cloudinary -->
  <link rel='preconnect' href='https://res.cloudinary.com' crossorigin />

  <meta property='og:type' content='website' />
  <meta property='og:title' content={pageTitle} />
  <meta property='og:image' content={ogImage} />
  <meta property='og:url' content={metadata.url} />
  <meta property='og:description' content={pageDescription} />

  <GoogleAnalytics />

  <title>{pageTitle}</title>

  <!-- RSS -->
  <link
    rel='alternate'
    type='application/rss+xml'
    title= {metadata.title}
    href={new URL('rss.xml', Astro.site)}
  />

  <!-- Sitemap -->
  <link rel='sitemap' href='/sitemap-index.xml' />
</head>
